body {
  margin: 25px auto;
  max-width: 400px;
  background-color: #eee;
  color: #666;
  font-family: 'Roboto';
  text-align: center;
  font-size: 16px;
}

h1 {
  margin-bottom: 50px;
}

ul {
  list-style-type: none;
  margin: 10px auto;
}

li {
  margin: 10px auto;
  max-width: 100%;
}

#note-menu {
  margin: 0 0 25px;
}

.note-delete {
  background-color: none;
  float: right;
}

.note {
  margin: 10px;
}
